@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.log{
  display: none;
}
.fail{
  display: none;
}